.TaskRegister {
    text-align: center;
}

.TaskList {
    text-align: center;
}

.TaskList table {
    width: 100%;
    margin: 0 auto;
    position: relative;
    margin-top: 1.5rem;
    border-collapse: collapse;
    border-spacing: 0;
}

.TaskList th,
.TaskList td {
    padding: 10px 0;
}

.TaskList th:nth-child(1),
.TaskList th:nth-child(3),
.TaskList th:nth-child(4) {
    width: auto;
}

.TaskList td:nth-child(2) {
    width: 60%;
    padding: 0 1rem;
    
}



input,
select {
    width: 70%;
    margin-top: 1.5rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
    padding: .5rem;
    border: 2px solid #000;
    border-radius: 5px;
}

input:active,
select:active {
    border: 2px solid blue;
}